<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#btnLogout class="button" id="btnLogout">Logout</a></li> -->
        <li><a href="#" id="btnLogout">Logout</a></li>
        <!-- <button class="btnNav" id="btnLogout">Logout</button> -->
      </ul>
    </div>
</nav>