<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head.ejs') %>
    <title>t4c</title>

</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    
    <!-- Firebase  -->
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script type='module' src='/scripts/firebaseLogout.js'></script>
</body>
</html>